Repository junkor-1011/-fastify-prisma-example3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yaml:

'src/**/*.{ts,tsx}':
  - eslint --fix
  - prettier --write
'test/**/*.{ts,tsx}':
  - eslint --fix
  - prettier --write
'*.{js,cjs}':
  - prettier --write
'*.{json,md,yml,yaml}':
  - prettier --write

chore: rm trash
  Dockerfile-ubuntu
  scripts/gen_depgraph
Due: none

modify dockerfile
  Dockerfile
  docker-compose-prod.yaml
Due: prettier --write

chore: rm trash
  package.json
  pnpm-lock.yaml
  tsconfig-dev.json
Due: prettier --write

chore: ESM project & ts-jest-resolver
  .dependency-cruiser.cjs
  .eslintrc.cjs
  .prettierrc.cjs
  jest.config-base.cjs
  jest.config-integration.cjs
  jest.config.cjs
  jest.global-setup.cjs
  jest.setup.cjs
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/libs/utils/object.test.ts
  src/main.ts
  src/modules/_common/error-responses.schema.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.route.ts
  src/modules/user/user.schema.ts
  test/integration/api-user.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: lint:fix
  prisma/seed.ts
  src/libs/openapiSpec.ts
Due: eslint --fix, prettier --write

chore: install ts-jest
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: use ts-jest
  jest.config-base.cjs
Due: prettier --write

top level await(wip)
  jest.config-base.cjs
  jest.setup.cjs
  package.json
  src/libs/prisma.ts
  tsconfig.json
Due: eslint --fix, prettier --write

integration test setting(wip)
  package.json
Due: prettier --write

WIP: check integration test
  test/integration/api-user.test.ts
Due: eslint --fix, prettier --write

import jest from @jest/globals for ESM
  .npmrc
  test/integration/api-user.test.ts
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: prisma erd generate & @jest/globals
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: prisma-erd-generator disabled @docker
  Dockerfile
Due: none

refactor: modify tsconfig & jest setting
  jest.config-base.cjs
  tsconfig.json
Due: prettier --write

chore: use esbuild-jest
  jest.config-base-tsjest.cjs
Due: prettier --write

testing: test with ts-jest
  jest.config-base-tsjest.cjs
  jest.config-tsjest.cjs
  package.json
Due: prettier --write

chore: eslint disable (jest setting for ts-jest)
  .eslintignore
Due: none

chore: build script
  package.json
  scripts/build.ts
Due: prettier --write

chore: dockerignore
  .dockerignore
Due: none

chore: update packages
  pnpm-lock.yaml
Due: prettier --write

chore: update packages
  docs/openapi.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: integration test fastify instance initiation
  test/integration/api-user.test.ts
Due: eslint --fix, prettier --write

chore: add jest-mock-extended
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
  prisma/erd.md
Due: prettier --write

chore: moduleResolution: bundler
  src/app.ts
  src/libs/utils/object.test.ts
  src/main.ts
  src/modules/_common/error-responses.schema.ts
  src/modules/user/user.controller.ts
  src/modules/user/user.route.ts
  src/modules/user/user.schema.ts
  test/integration/api-user.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write
