Repository junkor-1011/-fastify-prisma-example3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: format
  test/integration/api-user.test.ts
Due: eslint --fix, prettier --write

refactor: integration testing code
  test/integration/api-user.test.ts
Due: eslint --fix, prettier --write

refactor: mv to src
  docs/dependency-graph.md
  package.json
  src/main.ts
Due: eslint --fix, prettier --write

chore: add script dependency-check
  package.json
Due: prettier --write

chore: update packages
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: collect coverage in unittest
  jest.config.js
Due: prettier --write

testing: runInBand in integration test
  package.json
Due: prettier --write

chore: enable type
  jest.config-base.js
  jest.config-integration.js
  jest.config.js
Due: prettier --write

testing: verbose: true
  jest.config-base.js
Due: prettier --write

chore: update lintstagedrc
  .lintstagedrc.yaml
Due: prettier --write

chore: update lint & format script
  package.json
Due: prettier --write

refactor: apply formatter
  prisma/cleanup.ts
  prisma/seed.ts
Due: none

chore: update packages
  pnpm-lock.yaml
Due: prettier --write

refactor: registerSchema
  src/app.ts
Due: eslint --fix, prettier --write

chore: install @fastify/sensible
  package.json
  pnpm-lock.yaml
  src/app.ts
Due: eslint --fix, prettier --write

feat: sample of PrismaClientKnownRequestError & fastify-sensible
  src/modules/user/user.controller.ts
Due: eslint --fix, prettier --write

feat: use fastify-sensible(default 500 error)
  src/modules/user/user.controller.ts
Due: eslint --fix, prettier --write

feat: badRequest example
  src/modules/user/user.controller.ts
Due: eslint --fix, prettier --write

feat: add error response schemas
  docs/dependency-graph.md
  docs/openapi.yaml
  src/app.ts
  src/modules/_common/error-responses.schema.ts
Due: eslint --fix, prettier --write

feat: example of 4xx, 5xx error schemas
  docs/dependency-graph.md
  docs/openapi.yaml
  src/modules/user/user.route.ts
Due: eslint --fix, prettier --write

feat: update openapi
  docs/openapi.yaml
  src/modules/_common/error-responses.schema.ts
  src/modules/user/user.route.ts
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

header
  docs/dependency-graph.md
  docs/openapi.yaml
  src/app.ts
  src/modules/_common/auth.schema.ts
  src/modules/user/user.route.ts
Due: eslint --fix, prettier --write

Revert "header"
  docs/dependency-graph.md
  docs/openapi.yaml
  src/app.ts
  src/modules/_common/auth.schema.ts
  src/modules/user/user.route.ts
Due: eslint --fix, prettier --write

feat: security: apiKey
  docs/openapi.yaml
  src/app.ts
  src/modules/user/user.route.ts
Due: eslint --fix, prettier --write

feat: authorization header check
  docs/dependency-graph.md
  src/modules/_common/schemas/auth.ts
  src/modules/user/user.controller.ts
Due: eslint --fix, prettier --write

chore: update packages
  package.json
Due: prettier --write

chore: pino-pretty
  .env.production.default
  package.json
  pnpm-lock.yaml
  src/app.ts
Due: eslint --fix, prettier --write

chore: add script to generate openapi.yaml automatically
  .env.local.default
  package.json
  scripts/genOpenapiYaml.ts
Due: prettier --write

chore: husky setting
  .husky/pre-commit
Due: none

chore: rename
  docker-compose-prod.yml
  docker-compose.yaml
Due: prettier --write

chore: build esm
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,tsx}) or (any of: test/**/*.{ts,tsx})
  prettier --write: (((any of: src/**/*.{ts,tsx}) or (any of: test/**/*.{ts,tsx})) or (any of: *.{js,cjs})) or (any of: *.{json,md,yml,yaml})
